<h1>Vehicles</h1>
<button class="btn btn-primary" [routerLink]="['/vehicles/new']">
  New Vehicle
</button>

<div class="well">
  <div class="form-group">
    <label for="make"> Make</label>
    <select
      id="make"
      class="form-control"
      [(ngModel)]="filter.makeId"
      (change)="onFilterChange()"
    >
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{ v.id }}</td>
      <td>{{ v.make.name }}</td>
      <td>{{ v.model.name }}</td>
      <td>{{ v.contact.contactName }}</td>
      <td><a [routerLink]="[v.id]">View</a></td>
    </tr>
  </tbody>
</table>
